﻿@model Auction;
<section>
    <h5>@Model.Item.Name</h5>
    <div>
        <div>
            Status: @Html.Raw((Model.Biddable) ? "Open" : "Incoming")
        </div>
        <div class="small">
            Start: @Model.StartTime
        </div>
        <div class="small">
            End: @Model.EndTime
        </div>
    </div>
    <div class="current-bid">
        @{
            var price = (Model.CurrentBid != null ? Model.CurrentBid.BidPrice : Model.StartingPrice);
            var minBid = (Model.CurrentBid != null ? Model.CurrentBid.BidPrice + 1 : Model.StartingPrice);
            @Html.Raw("Current price: " + price);
        }
    </div>
    <footer>
        <input type="number" min="@minBid" value="@minBid" name="bid-value" />
        <button name="place-bid">Bid</button>
    </footer>
</section>
