﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Lightning-Auctions World</h1>
    Acting User: <input type="text" id="user-input" value="Default" />
    <div class="row">
        <div class="col-sm-3 bg-info">
            <h2>Activity</h2>
            <ul id="activity-report" class="small"></ul>
        </div>
        <div class="col-sm-3">
            <h2>Auctions</h2>
            <div id="auctions-list"></div>
        </div>
        <div class="col-sm-3 bg-primary">
            <div id="auction-bid"></div>
        </div>
        <div class="col-sm-3">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>